
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/index.css">
</head>
<body >
<header>
    <span>tab</span><span>chan</span>
</header>
<script>
    var source = new EventSource("/stock/transaction");
    source.onmessage = function(event) {
        var json = JSON.parse(event.data);
        document.getElementById("result").innerHTML = json.when + "<br>";
    };
</script>
<div class="content">
     <span  id="result" class="fnt"></span>

    <span  class="by fnt">using spring reactor "webflux"</span>
</div>
</body>
</html>
